@charset "utf-8";
@font-face {
  font-family: "appleGothicB";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.ttf");
}
@font-face {
  font-family: "appleGothicM";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "appleGothicSB";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.ttf");
}
@font-face {
  font-family: "appleGothic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.ttf");
}
