@charset "utf-8";
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}

:root {
  --color-primary: #00bc90;
  --color-secondary: #0b1d59;
  --color-success: #4772fe;
  --color-danger: #ed1717;
  --color-default: #f0f0f0;
  --color-bg: #f5f5f5;
  --color-line: #eeeeee;

  /* font */
  --font-color: #111;
  --font-point-color: #00bc90;
  --font-sb: 600;
  --font-r: 400;
  --font-m: 500;
  --font-b: 700;
  --font-exb: 800;
}

html {
  font-size: 62.5%;
  height: 100dvh;
  overflow: hidden;
}

body {
  height: 100dvh;
  margin: 0;
  line-height: 1.25;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color);
  letter-spacing: -0.04em;
  overflow: hidden;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: var(--font-color);
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background: rgb(217, 217, 217);
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.3);
}

/* common button */
button {
  cursor: pointer;
  font-weight: 400;
  color: var(--font-color);
}
button:focus {
  outline: 0;
}
button[disabled] {
  background: #d8d8d8;
}
.btn {
  border: 0;
}
.btn-primary {
  background: var(--color-primary);
  color: #fff;
}
.btn-default {
  background: var(--color-default);
}

/* common tab */
.tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
}
.tab button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0;
  color: #889096;
  font-size: 1.4rem;
  height: 30px;
  border-radius: 6px;
  background: #e8edf0;
  padding: 0;
}
.tab button.active {
  background: #ffffff;
  color: #111;
  font-weight: var(--font-sb);
}

/* common table */
table td,
table th {
  word-break: break-word;
}
table {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  overflow-x: auto;
}
table caption {
  overflow: hidden;
  position: relative;
  line-height: 1px;
  font-size: 1px;
  text-indent: -30000px;
  padding: 0;
}
table:last-child {
  margin-bottom: 0;
}
table thead th {
  padding: 9px 10px;
  border-left: 1px solid #ddd;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  text-align: center;
  word-break: keep-all;
}
table tbody td {
  padding: 9px 10px;
  text-align: center;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  word-break: keep-all;
}
table thead td:last-child,
table thead th:last-child,
table tbody td:last-child,
table tbody th:last-child {
  border-right: 1px solid #ddd;
}
table tbody th {
  padding: 5px 10px;
  height: 40px;
  font-weight: var(--font-sb);
  text-align: center;
  border-left: 1px solid #dddd;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddd;
}

/* common modal */
.modal {
  display: none;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  align-items: center;
}
.modal.open {
  display: flex;
}
.modal .modal-wrap {
  width: 95%;
  max-width: 325px;
  max-height: calc(100% - 20px);
  margin: 10px auto;
  background: #fff;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  display: flex;
  flex-flow: column;
}
.modal .modal-head {
  padding: 16px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-sb);
  font-size: 20px;
  position: relative;
  min-height: 46px;
}
.modal .modal-head .tit {
  flex-grow: 1;
  position: relative;
  font-size: 20px;
  font-weight: var(--font-sb);
}
.modal .modal-head .tit small {
  font-size: 1.4rem;
}
.modal .modal-head .tit span {
  font-size: 1.3rem;
  font-family: var(--font-body);
  position: absolute;
  right: 10px;
  top: 5px;
}
.modal .modal-head .btn-modal-close {
  text-indent: -9999999px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  border: 0;
  background: url(../images/ico-close2.svg);
}
.modal .modal-body {
  overflow: auto;
  padding: 20px 20px 0 20px;
  flex-grow: 1;
  height: 100%;
}
.modal .modal-foot {
  padding: 10px;
  text-align: right;
  min-height: 55px;
}
.modal .modal-foot .btn {
  padding: 9px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: var(--font-b);
}
.modal .modal-foot .btn + .btn {
  margin-left: 8px;
}

.modal.full .modal-wrap {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-flow: column;
}

.modal.full .modal-head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 48px;
  min-height: 48px;
  padding: 0;
}

.modal.full .modal-head h2 {
  font-size: 1.8rem;
  font-weight: var(--font-b);
  margin: 0;
}

.modal.full .modal-head button {
  position: absolute;
  top: 0px;
  width: 48px;
  height: 48px;
  border: 0;
  transition: 0.2s;
}
.modal.full .modal-head .btn-prev {
  background: #fff url(../images/ico-prev2.svg);
  left: 0;
  opacity: 1;
  z-index: 1;
  text-indent: -99999999999px;
}
.modal.full .modal-head .btn-modal-close {
  background: #fff url(../images/ico-close.svg);
  right: 0px;
}

.modal.full .modal-body {
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
}
.modal.full .modal-foot {
  min-height: 58px;
}
.modal.noti {
}
.modal.noti .modal-wrap {
  width: 260px;
}
.modal.noti .tit {
  font-size: 18px;
  font-weight: var(--font-sb);
  margin-bottom: 15px;
}
.modal.noti .smr {
  font-size: 14px;
  color: #555;
}
.modal.noti .ref {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

/* 토스트 */
.toast {
  position: fixed;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.4rem;
  display: none;
  z-index: 1000;
  text-align: center;
}

/* Header Area */
header {
  position: fixed;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 0%);
  z-index: 9999;
  transition: 0.5s;
}
header.open {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgb(0 0 0 / 60%);
}
header .header-inner {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 48px;
}
header .header-inner h2 {
  font-size: 1.8rem;
  font-weight: var(--font-b);
  margin: 0;
}
header .header-inner button {
  position: absolute;
  top: 0px;
  width: 48px;
  height: 48px;
  border: 0;
  transition: 0.2s;
}
header .header-inner button span {
  font-size: 0px;
  text-indent: -99999999999px;
}
header .header-inner .btn-menu {
  background: #fff url(../images/ico-menu.svg);
  right: 0px;
}
header .header-inner .btn-prev {
  background: #fff url(../images/ico-prev2.svg);
  left: 0;
  opacity: 1;
  z-index: 1;
}
header .header-inner .btn-close {
  background: #fff url(../images/ico-close.svg);
  right: 0px;
  opacity: 1;
  z-index: 1;
}
header .header-inner .btn-menu.off {
  display: none;
}
header .header-inner .btn-prev.off,
header .header-inner .btn-close.off {
  opacity: 0;
  z-index: -1;
}

header .menu-list {
  background: #fff;
  padding: 0 20px;
  border-radius: 0 0 16px 16px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
header .menu-list .tit {
  font-size: 20px;
  font-weight: var(--font-sb);
  margin: 30px 0 20px;
}
header .menu-list > button {
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 50px 0 65px;
  position: relative;
  background: var(--color-bg);
  text-align: left;
  border: 0;
  border-radius: 15px;
  font-size: 1.6rem;
  z-index: 99999999999999;
}
header .menu-list > button::before,
header .menu-list > button::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  z-index: 9999999999999;
  background: #000;
}
header .menu-list > button::before {
  left: 18px;
}
header .menu-list > button.active {
  background: var(--color-primary);
  color: #fff;
}
header .menu-list > button.active::before,
header .menu-list > button.active::after {
  background: #fff;
}
header .menu-list > button:nth-child(2)::before {
  mask-image: url(../images/ico-sales-status.svg);
}
header .menu-list > button:nth-child(5)::before {
  mask-image: url(../images/ico-prospect.svg);
}
header .menu-list > button:nth-child(4)::before {
  mask-image: url(../images/ico-nearby.svg);
}
header .menu-list > button:nth-child(3)::before {
  mask-image: url(../images/ico-area.svg);
}
header .menu-list > button::after {
  mask-image: url(../images/ico-next.svg);
  right: 8px;
}

header.open .menu-list {
  height: 374px;
}

/* 매출기준 선택 */
.sales-period {
  position: absolute;
  top: 58px;
  z-index: 1000;
  max-width: 354px;
  width: calc(100% - 20px);
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  overflow: hidden;
}
.sales-period .btn-select {
  border: 0;
  width: 100%;
  text-align: left;
  padding: 15px 45px 10px;
  background: #fff;
  font-size: 1.4rem;
  position: relative;
}
.sales-period .btn-select::before,
.sales-period .btn-select::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3px;
}
.sales-period .btn-select::before {
  left: 4px;
  background: #fff url(../images/ico-calendar.svg) center no-repeat;
}
.sales-period .btn-select::after {
  right: 8px;
  background: #fff url(../images/ico-arrow.svg) center no-repeat;
}
.sales-period .tab {
  margin: 0 8px 8px 8px;
  background: #e8edf0;
  padding: 2px;
  border-radius: 6px;
}
.sales-period-modal .modal-body {
  padding: 10px;
}
.sales-period-list button {
  min-height: 40px;
  border: 0;
  background: transparent;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  padding: 10px;
}
.sales-period-list button.active {
  background: #f5f5f5;
  border-radius: 6px;
}

.search-area {
  position: absolute;
  top: 58px;
  left: 10px;
  right: 10px;
  z-index: 999;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  overflow: hidden;
}
.search-area .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-area .search-box input {
  border: 0;
  height: 44px;
  font-size: 1.6rem;
  padding: 0 20px;
  width: 100%;
  touch-action: manipulation;
}
.search-area .search-box input:focus {
  outline: none;
}
.search-area .search-box .btn-search {
  min-width: 37px;
  height: 37px;
  background: url(../images/ico-search.svg) no-repeat center;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 24px;
  text-indent: -9999999px;
  border: 0;
}

/* bottom Area */
.bottom-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.bottom-area .swipe-ctr {
  border: 0;
  width: 100%;
  height: 25px;
  background: #fff;
  border-radius: 16px 16px 0 0;
}
.bottom-area .swipe-ctr::after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 45px;
  height: 5px;
  border-radius: 5px;
  background: #d9d9d9;
}
.bottom-area .bottom-area-inner {
  transition: 1s;
}
.bottom-area .myshops {
  background: var(--color-bg);
  width: calc(100% - 30px);
  margin: 0 auto;
  border-radius: 15px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-area .myshops .slick-arrow {
  border: 0;
  background: transparent;
  font-size: 0;
  text-indent: -999999px;
  min-width: 40px;
  height: 40px;
}
.bottom-area .myshops .slick-prev {
  background: url(../images/ico-prev.svg);
}
.bottom-area .myshops .slick-next {
  background: url(../images/ico-next.svg);
}
.bottom-area .myshops .name {
  display: flex;
  align-items: center;
  font-family: var(--font-m);
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.bottom-area .myshops .name::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: #111;
  mask-image: url(../images/ico-shop.svg);
  /* margin-right: 10px; */
}
.bottom-area .legend {
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid var(--color-line);
  display: flex;
}
.bottom-area .legend li {
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 1.3rem;
}
.bottom-area .legend li::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 10px;
  margin-right: 5px;
}
.bottom-area .legend li.my::before {
  background: var(--color-secondary);
}
.bottom-area .legend li.high::before {
  background: var(--color-danger);
}
.bottom-area .legend li.low::before {
  background: var(--color-success);
}
.bottom-area .smr {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.bottom-area .radius-wrap {
  position: relative;
}
.btn-dropdown {
  background-color: #ffffff;
  border: 1px solid #aaa;
  padding: 3px 25px 3px 6px;
  font-size: 13px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 3px;
  background: url(../images/ico-arrow.svg) no-repeat right 5px center;
  background-size: 16px 16px;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 30px;
  left: 0;
  right: 0;
  border-radius: 3px;
  display: none;
}

.dropdown-content button {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
.dropdown-content button + button {
  border-top: 1px solid #eee;
}
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown-content.show {
  display: block;
}

/* 체크박스 */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  padding-left: 30px;
  position: relative;
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid #808080;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
}
input[type="checkbox"]:checked + label::before {
  background-color: #00bc90;
  border-color: #00bc90;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-50%) rotate(-45deg);
  position: absolute;
  top: calc(50% - 1px);
  left: 5px;
}
input[type="checkbox"]:disabled + label {
  color: #999;
}
input[type="checkbox"]:disabled + label::before {
  border: 2px solid rgb(0 0 0 / 8%);
  background: rgb(0 0 0 / 6%);
}

/* poi 공통 */
.poiIco {
  z-index: 999;
  position: absolute;
}
.poiIco .info-box {
  position: relative;
  min-height: 32px;
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  box-shadow: 0 0 14px rgb(0 0 0 / 20%);
}
.poiIco .info-box::after {
  display: block;
  content: "";
  position: absolute;
  border-top: 6px solid #0b1d59;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -6px;
  left: calc(50% - 5px);
}
.poiIco .info-box .name {
  display: block;
  padding: 8px 8px;
  border: 0;
  background: transparent;
}
.poiIco .info-box .multi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0b1d59;
  color: #fff;
  height: 20px;
  min-width: 20px;
  border-radius: 20px;
  padding: 0 3px;
  position: absolute;
  top: -8px;
  right: -8px;
  border: 0;
}
.poiIco .name + .btn-detail {
  border: 0;
  border-radius: 2px;
  background: #ffeb00;
  margin: 8px;
  margin-top: 0;
}
.poiIco .name + .rate {
  font-size: 18px;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 4px;
}

/* 내가게  */
.poiIco.my-shop .info-box {
  background: #0b1d59;
  color: #ffeb00;
}
.poiIco.my-shop .info-box::after {
  border-top: 6px solid #0b1d59;
}
.poiIco.my-shop .ico-poi {
  background-image: url(../images/ico-poi.svg);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 15px);
}

/* 상위경쟁점 */
.poiIco.high-shop .info-box {
  border: 1px solid #ed1717;
}
.poiIco.high-shop .info-box::after {
  border-top: 6px solid #ed1717;
}
.poiIco.high-shop .rate {
  color: #ed1717;
}

/* 하위경쟁점 */
.poiIco.low-shop .info-box {
  border: 1px solid #3c6aff;
}
.poiIco.low-shop .info-box::after {
  border-top: 6px solid #3c6aff;
}
.poiIco.low-shop .rate {
  color: #3c6aff;
}
.poiIco.low-shop .btn-detail {
  background: #3c6aff;
  color: #fff;
}

/* 전체인구  */
.poiIco.population .info-box {
  position: relative;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10px);
  box-shadow: 0 0 0px 8px rgb(11 29 89 / 20%);
  width: 90px;
  height: 90px;
  background: var(--color-secondary);
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.poiIco.population .info-box::after {
  display: none;
}
.poiIco.population .data {
  font-size: 21px;
  font-weight: var(--font-sb);
}
.poiIco.population .smr {
  font-size: 12px;
}

/* 매장 리포트트 */
.store-report {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background: #fff;
  border-radius: 16px 16px 0 0;
  height: 0;
  transition: 0.5s;
  /* opacity: 0; */
  overflow: hidden;
  top: auto;
  width: auto;
  display: block;
}
.store-report.open {
  height: calc(100dvh - 155px);
  opacity: 1;
}
.store-report > .btn-close {
  text-indent: -9999999px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  border: 0;
  background: url(../images/ico-close2.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding: 0;
}
.store-report > .tit {
  font-size: 20px;
  font-weight: var(--font-sb);
  padding: 36px 24px 20px 24px;
}

.store-report > .con {
  height: calc(100% - 84px);
  overflow-y: scroll;
}
.store-report > .con > .download {
  background: #f5f5f5;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.store-report > .con > .download::after {
  display: block;
  content: "";
  background: url(../images/ico-down.svg);
  width: 24px;
  height: 24px;
}

.store-report .con > .smr {
  padding: 24px 80px 24px 24px;
  font-size: 1.6rem;
  position: relative;
}

.store-report .con > .smr::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 22px;
  top: calc(50% - 25px);
  border-radius: 100px;
  background: #f5f5f5 url(../images/ico-shop.svg) no-repeat center;
}

.store-report .underline {
  text-decoration: underline;
}

.store-report section {
  border-top: 8px solid var(--color-bg);
  padding: 24px;
}
.store-report section.list {
  padding: 0;
  overflow: hidden;
}
.store-report section.list .tit-wrap {
  padding: 24px 24px;
  margin: 0;
}
.store-report .tit-wrap {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.store-report .tit-wrap .tit {
  font-size: 16px;
  font-weight: var(--font-sb);
}
.store-report .tit-wrap .smr {
  font-size: 1.4rem;
  color: #666;
  width: 100%;
  padding-top: 4px;
}
.store-report .tit-wrap .unit {
  font-size: 1.2rem;
  color: #666;
  font-weight: var(--font-r);
}

.store-report .chart-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
}
.store-report .chart-wrap .chart-left,
.store-report .chart-wrap .chart-right {
  width: 45%;
}
.store-report .chart-wrap > div > .label {
  text-align: center;
  margin-top: 8px;
  font-size: 1.2rem;
}

#chart23-labels,
#chart25-labels {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  list-style: none;
}
#chart23-labels li {
  text-align: center;
  width: auto;
  margin: 15px 10px 10px;
}
#chart25-labels li {
  text-align: center;
  width: 100%;
  margin: 15px 0 10px;
}
#chart23-labels li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

#chart23-labels li:nth-child(1)::before {
  background: #5ba7ff;
}
#chart23-labels li:nth-child(2)::before {
  background: #ff7c7c;
}

#chart25-labels li::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  margin: 0 auto 4px;
}

#chart25-labels li:nth-child(1)::before {
  background: #ff7c7c;
}
#chart25-labels li:nth-child(2)::before {
  background: #ffaa5b;
}
#chart25-labels li:nth-child(3)::before {
  background: #ffdc5f;
}
#chart25-labels li:nth-child(4)::before {
  background: #6fd7b8;
}
#chart25-labels li:nth-child(5)::before {
  background: #5ba7ff;
}
#chart25-labels li:nth-child(6)::before {
  background: #b584fa;
}
.store-report .status-wrap {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 30px 12px;
  border-radius: 8px;
}
.store-report .status-wrap .txt {
  text-align: center;
}
.store-report .status-wrap .txt .label {
  font-size: 1.4rem;
}
.store-report .status-wrap .txt .data {
  font-size: 24px;
  font-weight: var(--font-sb);
}
.store-report .status-wrap .gender .gender-bar {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 12px 6px 20px;
}
.store-report .status-wrap .gender .gender-bar::before,
.store-report .status-wrap .gender .gender-bar::after {
  display: block;
  content: "";
  min-width: 21px;
  height: 43px;
  background: url(../images/ico-man.svg);
}
.store-report .status-wrap .gender .gender-bar::after {
  background: url(../images/ico-woman.svg);
}
.store-report .status-wrap .gender .gender-bar .man,
.store-report .status-wrap .gender .gender-bar .woman {
  background: #5ba7ff;
  height: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #fff;
  font-weight: var(--font-sb);
}
.store-report .status-wrap .gender .gender-bar .woman {
  background: #ff7c7c;
  padding-right: 5px;
  flex-flow: row-reverse;
}
.store-report .status-wrap .gender .gender-bar .label {
  margin: 0 5px;
  font-size: 1.2rem;
}
.store-report .status-wrap .age-group {
  display: flex;
  justify-content: space-around;
}
.store-report .status-wrap .age-group div[class^="age"] {
  width: 30px;
  height: 100px;
  background: #e2e3e5;
  border-radius: 50px;
  margin-top: 24px;
  position: relative;
}
.store-report .status-wrap .age-group div[class^="age"] .label {
  position: absolute;
  top: -24px;
}
.store-report .status-wrap .age-group div[class^="age"] .age-bar {
  width: 100%;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: var(--font-sb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-report .status-wrap .age-group .age10 .age-bar {
  background: #ff7c7c;
}
.store-report .status-wrap .age-group .age20 .age-bar {
  background: #ffaa5b;
}
.store-report .status-wrap .age-group .age30 .age-bar {
  background: #ffdc5f;
}
.store-report .status-wrap .age-group .age40 .age-bar {
  background: #6fd7b8;
}
.store-report .status-wrap .age-group .age50 .age-bar {
  background: #5ba7ff;
}
.store-report .status-wrap .age-group .age60 .age-bar {
  background: #b584fa;
}

.store-report .desc {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.store-report .ref {
  font-size: 1.2rem;
  color: #909090;
}

.store-report .check-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.store-report .check-list + .chart-wrap {
  margin: 0 24px 24px 24px;
  display: none;
}
.store-report .check-list li {
  border-top: 1px solid #eee;
}

.store-report .check-list li label {
  display: block;
  padding: 12px 20px;
  margin: 0;
  position: relative;
}
.store-report .check-list li label::before {
  right: 20px;
  left: auto;
}
.store-report .check-list li .name {
  font-weight: var(--font-sb);
  font-size: 16px;
  color: #aaa;
  margin-bottom: 4px;
}

.store-report .check-list li .add {
  font-size: 1.4rem;
  color: #aaa;
}

.store-report .check-list li input[type="checkbox"]:checked + label {
  background: #f5f5f5;
}
.store-report .check-list li input[type="checkbox"]:checked + label::after {
  right: 25px;
  left: auto;
}

.store-report .check-list li input[type="checkbox"]:checked + label .name {
  color: #111;
}
.store-report .check-list li input[type="checkbox"]:checked + label.add {
  color: #666;
}
.store-report .btn-compare {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1.6rem;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;
  width: calc(100% - 40px);
  transition: 0.3s;
}
.store-report .table-wrap {
  margin-bottom: 20px;
}
.store-report .business-status {
  height: 380px;
  background: url(../images/ill_report.svg) no-repeat bottom right;
}
.store-report .business-status .tit-wrap .tit {
  font-size: 18px;
  padding-bottom: 20px;
  width: 100%;
}
.store-report .business-status .tit-wrap .desc {
  padding-bottom: 20px;
  margin: 0;
}

.store-report .rents-info-list {
  width: 100%;
  overflow: hidden;
  padding-right: 20px; /* 오른쪽 패딩 추가 */
}
.store-report .rents-info-list .slick-slide {
  margin-right: 10px; /* 슬라이드 간의 간격을 조정 */
}
.store-report .rents-info-list .slick-list {
  margin-right: -20px; /* 오른쪽 마진 추가 */
}

.store-report .rents-info-list .rent-info .list {
  border-bottom: 1px solid var(--color-line);
}
.store-report .rents-info-list .rent-info button {
  padding: 10px;
  width: 100%;
}

/* 내 주변 경쟁 매장 매출 현황 */
.competitor-sales .store-report .check-list,
.competitor-sales .store-report .check-list + .chart-wrap {
  padding-bottom: 60px;
}

/* 변화기준 */
.change-criteria {
  position: absolute;
  top: calc(50% - 80px);
  right: 10px;
  z-index: 1000;
  width: 50px;
  font-size: 12px;
  letter-spacing: -0.5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.change-criteria button {
  border: 0;
  width: 50px;
  height: 55px;
  padding: 0;
  color: var(--color-secondary);
  background: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.change-criteria button + button {
  border-top: 1px solid #ddd;
}
.change-criteria button::before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: var(--color-secondary);
}
.change-criteria button:nth-child(1)::before {
  mask-image: url(../images/ico-chart.svg);
}
.change-criteria button:nth-child(2)::before {
  mask-image: url(../images/ico-user.svg);
}
.change-criteria button:nth-child(3)::before {
  mask-image: url(../images/ico-shop.svg);
}
.change-criteria button.active,
.change-criteria button:hover {
  background: var(--color-secondary);
  color: #fff;
}
.change-criteria button.active::before,
.change-criteria button:hover::before {
  background: #fff;
}

/* 개업시 예상 매출 */
.expected-sales .bottom-area .legend li::before {
  display: none;
}
.expected-sales .bottom-area .legend li input[type="checkbox"] {
  display: none;
}
.expected-sales .bottom-area .legend li label {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 25px;
  margin: 0;
  position: relative;
  gap: 5px;
}
.expected-sales
  .bottom-area
  .legend
  li.my
  input[type="checkbox"]:checked
  + label::before {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.expected-sales
  .bottom-area
  .legend
  li.high
  input[type="checkbox"]:checked
  + label::before {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}
.expected-sales
  .bottom-area
  .legend
  li.low
  input[type="checkbox"]:checked
  + label::before {
  background-color: var(--color-success);
  border-color: var(--color-success);
}
.expected-sales .btn-location {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  position: absolute;
  right: 10px;
  top: -50px;
  z-index: 999;
  border: 0;
  border-radius: 50px;
  background: #fff url(../images/ico-location.svg) no-repeat center;
  text-indent: -99999999999999px;
}
.expected-sales .bottom-area .btn-likes {
  width: 155px;
  height: 36px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  position: absolute;
  left: calc(50% - 80px);
  top: -50px;
  z-index: 999;
  border: 0;
  border-radius: 50px;
  background: #fa4422 url(../images/ico-likes.svg) no-repeat 8px 8px;
  background-size: 20px;
  color: #fff;
  font-size: 14px;
  padding-left: 20px;
}

/* 개업 시 예상매출 검색 */
.expected-sales-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.expected-sales-search.open {
  display: block;
  z-index: 9999;
}

.expected-sales-search .search-box {
  margin-bottom: 20px;
  position: relative;
}

.expected-sales-search .search-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #aaa;
}
.expected-sales-search .search-box .btn-search {
  position: absolute;
  right: 0;
  width: 37px;
  height: 37px;
  margin-top: 0;
  background: url(../images/ico-search.svg) no-repeat center;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 24px;
  text-indent: -9999999px;
  border: 0;
}

.expected-sales-search .list-wrap + .list-wrap {
  margin-top: 30px;
}
.expected-sales-search .list-wrap .tit {
  font-size: 13px;
  font-weight: var(--font-sb);
  margin-bottom: 8px;
}
.expected-sales-search .list-wrap ul {
  border: 1px solid #e5e6ea;
  border-radius: 15px;
  overflow: hidden;
}
.expected-sales-search .list-wrap ul li {
  height: 40px;
}
.expected-sales-search .list-wrap ul li + li {
  border-top: 1px solid #e5e6ea;
}
.expected-sales-search .list-wrap ul li label {
  display: block;
  padding: 10px 20px;
  margin: 0;
  position: relative;
  height: 100%;
  font-size: 1.5rem;
  color: #aaa;
}
.expected-sales-search .list-wrap ul li label::before {
  right: 20px;
  left: auto;
}

.expected-sales-search .list-wrap ul li input[type="checkbox"]:checked + label {
  background: #f5f5f5;
  color: #333;
  font-weight: var(--font-sb);
}
.expected-sales-search
  .list-wrap
  ul
  li
  input[type="checkbox"]:checked
  + label::after {
  right: 25px;
  left: auto;
}

.expected-sales-search
  .list-wrap
  ul
  li
  input[type="checkbox"]:checked
  + label
  .name {
  color: #111;
}
.expected-sales-search
  .list-wrap
  ul
  li
  input[type="checkbox"]:checked
  + label.add {
  color: #666;
}

.expected-sales-search .list-wrap .region-list {
  max-height: 400px;
  overflow: auto;
}

.expected-sales-search .industry-list {
  display: flex;
  gap: 10px;
}
.expected-sales-search .industry-list button {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #aaa;
}
.expected-sales-search .industry-list button::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ddd;
}
.expected-sales-search .industry-list button:nth-child(1)::before {
  mask-image: url(../images/ico-academy.svg);
}
.expected-sales-search .industry-list button:nth-child(2)::before {
  mask-image: url(../images/ico-hospital.svg);
}
.expected-sales-search .industry-list button:nth-child(3)::before {
  mask-image: url(../images/ico-cvs.svg);
}
.expected-sales-search .industry-list button:nth-child(4)::before {
  mask-image: url(../images/ico-fnb.svg);
}
.expected-sales-search .industry-list button.active {
  font-weight: var(--font-sb);
  color: #333;
}
.expected-sales-search .industry-list button.active::before {
  background-color: #333;
}
.expected-sales-search .btn-sales-search {
  display: none;
  padding: 10px 20px;
  font-size: 1.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.expected-sales-search.open-btn .modal-body {
  padding: 0 20px 70px;
}
.expected-sales-search.open-btn .btn-sales-search {
  display: block;
}

/* 빌딩 정보 팝업 */
.rents-info-list {
  position: relative;
}
.rents-info-list .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -999999999px;
  border: 0;
  background-color: #fff;
  background-position: center;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  z-index: 9999;
}
.rents-info-list .slick-prev {
  left: -15px;
  background-image: url(../images/ico-prev.svg);
}
.rents-info-list .slick-next {
  right: -15px;
  background-image: url(../images/ico-next.svg);
}
.rent-info {
  border-radius: 12px;
  border: 1px solid var(--color-line);
  overflow: hidden;
}

.rent-info .img {
  text-align: center;
}

.rent-info .img img {
  width: 100%;
  height: auto;
}

.rent-info .rep {
  padding: 15px;
  background: var(--color-bg);
}

.rent-info .cate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
}

.rent-info .cate .likes label {
  padding: 0;
  display: flex;
  align-items: center;
}
.rent-info .cate .likes label::before {
  position: static;
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background: #222;
  mask-image: url(../images/ico-likes-line.svg);
  mask-size: 100%;
  margin-right: 2px;
  margin-top: -2px;
}
.rent-info .cate .likes input[type="checkbox"]:checked + label::before {
  background: var(--color-primary);
  mask-image: url(../images/ico-likes.svg);
}
.rent-info .cate .likes input[type="checkbox"]:checked + label::after {
  display: none;
}
.rent-info .rent {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.rent-info .desc {
  color: #666;
}

.rent-info .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rent-info .list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  border-top: 1px solid var(--color-line);
  font-size: 13px;
}

.rent-info .list span {
  color: #666;
}

.rent-info .etc {
  border-top: 1px solid var(--color-line);
  color: #999;
  font-size: 13px;
  padding: 15px;
}

/* 건물 상세 정보 모달 */
.rent-detail .modal-body {
  padding: 0;
}
.rent-detail .rent-info {
  border: 0;
  border-radius: 0;
}
.rent-detail .list > li {
  font-size: 14px;
  padding: 10px 20px;
}
.rent-detail .list + .tit {
  font-size: 13px;
  background: var(--color-bg);
  padding: 14px 18px 10px;
  border-top: 1px solid var(--color-line);
  font-weight: var(--font-sb);
}
.rent-detail .rent-img {
  position: relative;
}
.rent-detail .rent-img .slick-arrow {
  position: absolute;
  top: calc(50% - 17px);
  text-indent: -999999999px;
  border: 0;
  background-color: #fff;
  background-position: center;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  z-index: 9999;
}
.rent-detail .rent-img .slick-prev {
  left: 10px;
  background-image: url(../images/ico-prev.svg);
}
.rent-detail .rent-img .slick-next {
  right: 10px;
  background-image: url(../images/ico-next.svg);
}
.rent-detail .rent-img .slider-counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  min-width: 60px;
  padding: 5px 15px;
  border-radius: 50px;
}
.btn-info {
  background: var(--color-primary);
  border:0;
  border-radius:50px;
  color:#fff;
  width:18px;
  height:18px;
  margin-left:5px;  
}

/* 중개사 카드 */
.realtor-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px 15px;
  border: 1px solid #e5e6ea;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 10px;
}

.realtor-card .office-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.realtor-card .photo {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
  background: url(../images/realtor-photo.png);
  margin-left: 20px;
}
.realtor-card .details {
  margin: 0 20px;
  flex: 1;
}

.realtor-card .details > li {
  font-size: 14px;
  color: #666;
  padding: 2px 0;
}

/* 매장 리스트 모달 */
.shops-info-list {
  border-radius: 16px;
  border: 1px solid var(--color-line);
  overflow: hidden;
}
.shops-info-list .tit {
  background: var(--color-bg);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: var(--font-m);
}
.shops-info-list .list {
}
.shops-info-list .list > li {
  border-top: 1px solid var(--color-line);
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shops-info-list .list li span.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.shops-info-list .list li span.high,
.shops-info-list .list li span.low {
  min-width: 45px;
  text-align: right;
}
.shops-info-list .list li span.high {
  color: var(--color-danger);
}
.shops-info-list .list li span.low {
  color: var(--color-success);
}

/* 찜한 매물 없는 경우 모달 */
.likes-nodata img {
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Map Area */
.mapArea {
  width: 100%;
  height: 100%;
}

/* loading */
.loading-ani {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: transparent;
  position: absolute;
  z-index: 99999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
