<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="basicFn">
        <button id="btnAjax">데이터 통신 기본</button>
        <button id="btnDistance">거리측정</button>
        <button id="btnArea">면적측정</button>
        <button id="btnRemove">지우기</button>
        <button id="btnMarkerAdd">마커추가</button>
        <button id="btnMarkerDel">마커삭제</button>
        <button id="btnMarkerShow">마커보이기</button>
        <button id="btnMarkerHide">마커숨기기</button>
        <button id="btnLineAdd">폴리라인추가</button>
        <button id="btnLineDel">폴리라인삭제</button>
        <button id="btnPolygonAdd">폴리곤추가</button>
        <button id="btnPolygonDel">폴리곤삭제</button>
        <button id="btnCircleAdd">써클추가</button>
        <button id="btnCircleDel">써클삭제</button>
    </div>
</html>