<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <link rel="stylesheet" type="text/css" href="/js/lib/leaflet/leaflet.css">
        <link rel="stylesheet" type="text/css" href="/js/lib/leaflet/control/L.Control.Zoomslider.css" />
        <link rel="stylesheet" type="text/css" href="/js/lib/leaflet/control/Leaflet.draw/leaflet.draw.css" />
        <link rel="stylesheet" type="text/css" href="/js/lib/leaflet/control/measure_control/leaflet.measurecontrol.css" />



        <script src="/js/lib/jquery-3.7.1.min.js"></script>
        <script src="/js/lib/leaflet/leaflet.js"></script>
        <script src="/js/lib/leaflet/control/L.Control.Zoomslider.js"></script>
        <script src="/js/lib/leaflet/control/Leaflet.draw/leaflet.draw.js"></script>
        <script src="/js/lib/leaflet/control/measure_control/leaflet.measurecontrol.min.js"></script>
        <script src="/js/lib/leaflet/control/L.openmate_measure.js"></script>
        <script src="/js/lib/leaflet/control/leaflet-arrowheads/src/leaflet-arrowheads.js"></script>
        <script src="/js/lib/leaflet/control/leaflet-arrowheads/src/leaflet-geometryutil.js"></script>
        <script src="/js/lib/proj4/proj4.js"></script>
        <script src="/js/lib/proj4/proj4leaflet.js"></script>

        <script src="/js/lib/common.js"></script>
        <script src="/js/lib/map.js"></script>
        <script src="/js/lib/event.js"></script>


        <meta charset="UTF-8">
        <title>상권분석</title>
    </head>
</html>